{
    "swagger": "2.0",
    "info": {
        "version": "0.0.1",
        "title": "Swagger API"
    },
    "host": "playground.apistudio.io",
    "basePath": "/try/f2b8afc1-2b51-4bc2-9512-58ebd46db456",
    "schemes": [
        "http",
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/hello": {
            "x-swagger-router-controller": "hello_world",
            "get": {
                "description": "Returns greetings to the caller",
                "operationId": "hello",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/HelloWorldResponse"
                        }
                    },
                    "default": {
                        "description": "Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "HelloWorldResponse": {
            "required": [
                "message"
            ],
            "properties": {
                "message": {
                    "type": "string"
                },
                "age": {
                    "type": "number"
                }
            }
        },
        "ErrorResponse": {
            "required": [
                "message"
            ],
            "properties": {
                "message": {
                    "type": "string"
                }
            }
        }
    }
}